* {
 margin: 0;
 padding: 0;
} 

/* ---- NAV ---- */

nav {
   text-align: right;
}

nav > a {
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-size: 0.9em;
}

nav a img {
    width: 50px;
}