* {
 margin: 0;
 padding: 0;
} 

/* ---- NAV ---- */

nav {
   text-align: right;
   padding-top: 1.5em;
}

nav > a {
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-size: 0.9em;
    padding: 5px;
    margin-top: 20px;
}

.apps {
    display: relative;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -5px;
}